
/* Book Page*/


#B{
    background-image: url('images/boo.jpg');
    border-bottom: 6px solid gray;
     background-color:gray;
     margin: 5px;
     padding: 5px;
               
    height: 600px;
    border-left: 6px solid rgba(0, 0, 63, 0.417);
    border-right: 6px solid rgba(0, 0, 63, 0.417);
    
    
    }
        
    
     div.gallery {
    background-color:rgb(135, 22, 22);
     margin: 15px;
     border: 6px solid #ccc;
     float: left;
     width: 250px;
    height: 400px;
    }
    
    div.gallery:hover {
      border: 6px solid #777;
    }
    
    div.gallery img {
    
      width: 240px;
      height: 300px;
    }
    #a{
      color:grey;
    }
    #count{
      color:red;
    }
    
    #c{
      border: 2px solid #ccc;
    }
    
    .topnav {
      border: 2px solid #ccc;
      margin: 5;
      width: 1000px;
      padding: 3px;
      height: 500px;
      overflow: scroll;
    }
    
    .topnav a {
      float: left;
      display: block;
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
      font-size: 17px;
    
    }
    
    .topnav a:hover {
    }
    
    .topnav a.active {
      background-color: #2196F3;
      color: white;
    }
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: black;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
    
    .topnav .search-container button:hover {
    }
    
    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: white;
        text-align: left;
        width: 100%;
        margin: 5;
        padding: 14px;
      }
      .topnav input[type=text] {
      }
    }
    
    
    #panel,#flip {
      padding: 5px;
      text-align: center;
      background-color: black;
      border: solid 1px #c3c3c3;
      color: white;    
    }
    
    #panel {
      display: none; 
    }
    .loding{
      display:none;
    }
    
    #sa{
      border:1px solid grey;
    }

/* Authors Page*/

#search:focus{
    border:1px grey;
  }
  
  div.gallery {
  background-color:white;
   margin: 15px;
   border: 6px solid #ccc;
   float: left;
   width: 250px;
  height: 400px;
  }
  
  div.gallery:hover {
    border: 6px solid #777;
  }
  
  div.gallery img {
  
    width: 240px;
    height: 300px;
  }
  #sa{
    border: 1px solid grey;
  }
  
  .loding{
    display:none;
  }
  
  #a{
    color:grey;
  }

  
  /* Articles*/

  body{
    margin:0px;
    padding:0px;
  }
 .Fat{border: solid white 3px;
     float:left;
     width:380px;
     height:450px;
     margin:50px;}

    .img{border: solid white 3px;
      width: 100%;
      height: auto;

    }
    .Hedaing{border-top: solid black 3px;
             width:250px;
             height:50px;
             margin:10px;
            }

    .Fat:hover{
      border: solid #BF974C 3px;
    }
    .but{
      background-color:#060101 ;
            color:white;
              border:solid grey 2px;
              width: 60px;
              height:35px;
              padding:2px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
             font-size: 16px;
             margin: 4px;
             cursor: pointer;
            font-family: sans-serif;
    }
    a{text-decoration:none;}
    #sa{
      color:#707B7C;
    }
    

/* Literature & psychology & Anovle*/




